<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlappyBird.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B0B809E1CB28FAD00250EB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B0B80B61CB28FAD00250EB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B0B80C11CB28FAD00250EB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
